@import url('../../components/persDetail/PersDetailForm.css');
@import url('../../components/teamName/teamNameForm.css');
@import url('../../components/addMember/AddMemberForm.css');

.signup-master-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction : column;
    gap: 3rem;

}

/* the process tracker */


.process-container{
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.process-container > .processes{
    font-family: 'Inter';
    font-size: 1.4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: #888888;
}
.process2{
    border-left: 2px solid #888888;
    border-right: 2px solid #888888;
}
.form-container{
    height: 50vh;
    /* border : 2px solid blue; */
}

.tracker{
    position : absolute;
    height: 0.5rem;
    width: .5rem;
    background-color: rgb(70, 127, 248);
    /* left: 0%; */
    bottom: -1rem;
    border-radius: 50%;   
}