@import url('../../components/accordian/Accordian.css');



.hero-container{
    height: fit-content;
    
    
}

/*styling the header div element*/


.header-container{
    padding-top: 5rem;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.header-container > h1{
    font-family: 'Irish Grover';
    font-size: 72px;
}
.tagline-container{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.tagline-container> p{
    font-family: 'Inter';
    font-size: 24px;
    color: gray;

}
.tagline-container> Button{
    height: fit-content;
    width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: black;
    font-family: 'Irish Grover';
    font-size: 18px;
    color: #F7F7F7;
}

.tagline-container > Button:hover{
    background-color: rgb(63, 63, 63);
    color: white;
}
/*styling the hero section image*/

.hero-img-container{
    height: fit-content;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.hero-img-container>img{
    height: 120vh;
    margin-top: -10rem;
    /* object-fit: contain; */
    
}

/*Styling the about us section */

.aboutus-container{
    height: fit-content;
    background-color: #F7F7F7;
    padding-top:4rem;
    padding-bottom: 14rem;
}
.content-container{
    width: 100%;
}
.wrap-content1, .wrap-content2{
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3rem;       
    
}


.img1, .img2, .content1, .content2{
    height: 70vh;
    width: 40vw;
}
.img1 > img, .img2 > img{
    height: 110%;
    width: 110%;
    object-fit: contain;
}
.content1, .content2{
    display:flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    gap: 2rem;
}
.content1 > h2, .content2 > h2{
    height: fit-content;
    width: 110%;
    font-family: 'Irish Grover';
    font-size: 5rem;
}
.content1 > p, .content2 > p{
    height: fit-content;
    width: 50%;
    font-family: 'Inter';
    font-size: 2rem;
    color: gray;
}

/*Designing the faq container*/


.faq-container{
    min-height: 70vh;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items :center;
    flex-direction : column;
    gap: 3rem;


}
.faq-container > h3{
    font-family: "Inter";
    font-size: 3rem;
}



.questions{
    min-height: 50%;
    height: fit-content;
    width: 60vw;
    background-color: #F7F7F7;
    padding: 1rem;
    border-radius: 10px;
    overflow: hidden;
}

/*footer */

.footer-container{
    height: 50vh;
    background-color: #F7F7F7;
    display : flex;
    justify-content: space-evenly;
    align-items : center;
    flex-direction : column;
    
}

.footer-container > h2 {
    font-family: "Irish Grover";
    font-size: 4rem;
    margin-bottom: -3rem;
}
.footer-container > Button {
    background-color: black;
    font-family: 'Irish Grover';
    font-size: 1.2rem;
    color: #F7F7F7;
}

.footer-container > Button:hover {
    background-color: rgb(63, 63, 63);
    color: white;
}

@media only screen and (min-width : 812px) and (max-width: 1199px) {
    

    /*hero section */

    .hero-img-container>img{
        height: 80vh;
        margin-top: -6rem;
    
        
    }

    /* about us section */
    .content-container{
        width:100%;
    }
    .wrap-content1, .wrap-content2{
        min-height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    
    
    .img1, .img2, .content1, .content2{
        height: 50vh;
        width: 40vw;
    }
   
    .content1 > h2, .content2 > h2{
        font-size: 3rem;
    }
    .content1 > p, .content2 > p{
        font-size: 1.5rem;
    }

    /*footer*/

    .footer-container > h2 {
        font-size: 3rem;
        margin-bottom: -5rem;
    }
    
}


@media only screen and (min-width : 390px) and (max-width: 812px) {
    

    /*hero section */
    .header-container > h1{
        font-size: 42px;
    }

    .tagline-container> p{
        font-size: 14px;
    
    }
    .tagline-container> Button{
        font-size: 10px;
    }

    .hero-img-container>img{
        height: 50vh;
        margin-top: -3rem;
    
        
    }

    /* about us section */
    .content-container{
        width:100%;
    }
    .wrap-content1, .wrap-content2{
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }
    .wrap-content2 {
        flex-direction: column-reverse;
    }
    
    .img1, .img2, .content1, .content2{
        height: fit-content;
        width: 40vw;
    }

    .content1 > h2, .content2 > h2{
        font-size: 1.5rem;
    }
    .content1 > p, .content2 > p{
        font-size: .9rem;
        width: 100%;
    }

    /*faq*/

    
    .faq-container > h3{
        font-size: 2rem;
    }
    

    /*footer*/

    .footer-container > h2 {
        font-size: 1.5rem;
        margin-bottom: -7rem;
    }
    
}

@media only screen and (max-width: 390px) {
    

    /*hero section */
    .header-container > h1{
        font-size: 32px;
    }

    .tagline-container> p{
        font-size: 10px;
    
    }
    .tagline-container> Button{
        font-size: 8px;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }

    .hero-img-container>img{
        height: 30vh;
        margin-top: -2rem;
    
        
    }

    /* about us section */
    .content-container{
        width:100%;
    }
    .wrap-content1, .wrap-content2{
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }
    .wrap-content2 {
        flex-direction: column-reverse;
    }
    
    .img1, .img2, .content1, .content2{
        height: fit-content;
        width: 40vw;
    }

    .content1 > h2, .content2 > h2{
        font-size: 1.5rem;
    }
    .content1 > p, .content2 > p{
        font-size: .9rem;
        width: 100%;
    }

    /*faq*/

    
    .faq-container > h3{
        font-size: 1.5rem;
    }
    

    /*footer*/

    .footer-container > h2 {
        font-size: 1rem;
        margin-bottom: -9rem;
    }
    .footer-container > Button {
      
        font-size: 0.7rem;
        
    }
    
    
}