@import url('./pages/signup/SignUp.css');
@import url('./pages/login/Login.css');
@import url('./pages/adminPanel/AdminPanel.css');
@import url('./pages/leaderBoard/LeaderBoard.css');
@import url('./pages/userBoard/UserBoard.css');
@import url('./pages/home/Home.css');





*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;

}