@import url('./pages/signup/SignUp.css');
@import url('./pages/login/Login.css');
@import url('./pages/adminPanel/AdminPanel.css');
@import url('./pages/home/Home.css');
@import url('./pages/dashboard/Dashboard.css');





*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;

}